body {
  background-image: url("../images/background-dark.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

a {
  color: #ffffff;
  font-family: "Roboto";
  border: 1.5px #ffffff solid;
  border-radius: 9px;
  text-align: center;
  width: 60%;
  padding: 10px 0px 10px 0px;
  margin-top: 12px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}

a:hover {
  color: #828282;
  background: #585d51;
  border: 1px solid #585d51;
}

h2 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
}

span {
  color: #e5e3d9;
}
