body {
  background-image: url("../images/background-dark.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #ffffff;
  font-family: "Merriweather", serif;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

a {
  color: #ffffff;
  font-family: "Roboto";
  border: 1.5px #ffffff solid;
  border-radius: 9px;
  text-align: center;
  width: 52%;
  padding: 8px 0px 8px 0px;
  margin-top: 12px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 14px;
}

a:hover {
  color: #828282;
  background: #ffffff;
  border: 1px solid #ffffff;
}

h2 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
}

span {
  color: #e5e3d9;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("../images/background_desktop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .spacer {
    margin-bottom: 75vh;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 30px;
    justify-content: center;
  }

  h1 {
    font-size: 82px;
  }

  a {
    width: 10%;
    font-size: 24px;
  }
}
